h1 {
    font-size: 30px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
}

pre code {
    margin: 10px;
}

ul {
    padding-left: 40px;
}

ul li {
    list-style-type: square;
}
